<div class="alert warning">
  <%- include('../../svg/warning.svg') %>
  <p>Deleting a directory will also delete all of its contents. This is permanent and cannot be undone.</p>
</div>

<p>To delete this directory, type <b><%= path %></b> below and submit.</p>
<br>
<form method="post" action=<%= `/directory/${currentDirectory.id}/delete` %>>
  <%- include('../../components/form-input', { 
    name: 'path',
    label: 'Directory path',
    type: 'text',
    includePrevInput: false,
    required: true
  }) %>
  <button type="submit">Submit</button>
</form>