<form action="/directory/new" method="post">
  <%- include('../../components/form-input', { 
    name: 'name',
    label: 'Directory name',
    type: 'text',
    includePrevInput: true,
    required: true
  }) %>

  <%- include('../../components/directory-dropdown') %>

  <button type="submit">Submit</button>
</form>