<form action="/file/new" enctype="multipart/form-data" method="post">
  <%- include('../../components/form-input', { 
    name: 'upload',
    label: 'Upload',
    type: 'file',
    includePrefill: false,
    required: true
  }) %>

  <%- include('../../components/location-dropdown') %>

  <button type="submit">Submit</button>
</form>