<p>To delete this folder, type <b><%= path %></b> below and submit. Deleting a folder will also delete all of its contents. This cannot be undone.</p>
<br>
<form method="post" action=<%= `/directory/${folder.id}/delete` %>>
  <%- include('../components/form-input', { 
    name: 'path',
    label: 'Folder path',
    type: 'text',
    includePrevInput: false
  }) %>
  <button type="submit">Submit</button>
</form>