<form action="/files/upload" enctype="multipart/form-data" method="post">
  <%- include('../components/form-input', { 
    name: 'upload',
    label: 'Upload',
    type: 'file',
    includePrevInput: false
  }) %>

  <%- include('../components/folder-tree-dropdown', {
    includePrevInput: true
  }) %>

  <button type="submit">Submit</button>
</form>