<form action="/new-folder" method="post">
  <%- include('../components/form-input', { 
    name: 'name',
    label: 'Folder name',
    type: 'text',
    includePrevInput: true
  }) %>

  <%- include('../components/folder-tree-dropdown') %>

  <button type="submit">Submit</button>
</form>