<form action="/new-file" enctype="multipart/form-data" method="post">
  <%- include('../components/form-input', { 
    name: 'upload',
    label: 'Upload',
    type: 'file',
    includePrevInput: false
  }) %>

  <%- include('../components/folder-tree-dropdown') %>

  <button type="submit">Submit</button>
</form>