<h2>Sign Up</h2>

<% if (formMessage) { %>
  <p class="form-message"><%= formMessage %></p>
<% } %>

<form action="/signup" method="post">
  <%- include('../components/form-input', { 
    name: 'username',
    label: 'Username',
    type: 'text',
    includePrevInput: true
  }) %>

  <%- include('../components/form-input', { 
    name: 'password',
    label: 'Password',
    type: 'password',
    includePrevInput: false
  }) %>

  <%- include('../components/form-input', { 
    name: 'confirmPassword',
    label: 'Confirm password',
    type: 'password',
    includePrevInput: false
  }) %>

  <button type="submit">Submit</button>
</form>
