<main class="form">

<h2>Log In</h2>

<% if (formMessage) { %>
  <p class="form-message"><%= formMessage %></p>
<% } %>

<form action="/login" method="post">
  <label for="username">
    Username
  </label>
  <div class="input">
    <input type="text" name="username" id="username" value=<%= prevForm.username %>>
    <% if (formErrors && 'username' in formErrors) { %>
      <p>
        <small class="error">
          <%= formErrors.username %>
        </small>
      </p>
    <% } %>
  </div>

  <label for="password">
    Password
  </label>
  <div class="input">
    <input type="password" name="password" id="password">
    <% if (formErrors && 'password' in formErrors) { %>
      <p>
        <small class="error">
          <%= formErrors.password %>
        </small>
      </p>
    <% } %>
  </div>

  <button type="submit">Submit</button>
</form>

</main>

<p class="under-form">
  Don't have an account? <a href="/signup">Sign Up</a>
</p>