<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/nodejs-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/outside-routes.css">
  </head>
  <body>
    <header>
      <h1>File Uploader</h1>
      <div class="links">
        <% if (locals.user) { %>
          <p>
            Logged in as 
            <a href="/">
              <%= locals.user.username %>
            </a>
          </p>
          <nav>
            <a href="/logout">Log out</a>
          </nav>
        <% } else { %>
          <p>
            Not logged in
          </p>
          <nav>
            <a href="login">Log in</a>
            <a href="/signup">Sign up</a> 
          </nav>
        <% } %>
      </div>
    </header>
    <main>
      <h2><%= title %></h2>
      <%- include(`${page}`) %>
    </main>
  </body>
</html>