<%- include('../../components/directory-path') %>
<br>
<a href=<%= `/file/${file.id}/edit` %>>Edit this file</a>
<br>
<a href=<%= `/file/${file.id}/delete` %>>Delete this file</a>
<br>
<a href=<%= `/file/${file.id}/download` %>> Download this file</a>