<h1>Change Account Details</h1>

<% if (formMessage) { %>
  <p><%= formMessage %></p>
<% } %>

<% if (inputErrors) { %>
  <ul>
    <% for (let error of inputErrors) { %>
      <li><%= error %></li>
    <% } %>
  </ul>
<% } %>

<form action="/account" method="post">
  <label for="username">
    <span>Username: </span>
    <input type="text" name="username" id="username" value=<%= prevInputs.username %>>
  </label>

  <label for="password">
    <span>New password: </span>
    <input type="password" name="password" id="password">
  </label>

  <label for="confirmPassword">
    <span>Confirm new password: </span>
    <input type="password" name="confirmPassword" id="confirmPassword">
  </label>

  <button type="submit">Submit</button>
</form>