<style>
  table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 0.5rem;
  }
</style>

<h1>Dashboard</h1>

<h2>User List</h2>

<table>
  <tbody>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>role</th>
    </tr>
    <% for (let user of users) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.role %></td>
      </tr>
    <% } %>
  </tbody>
</table>