<h3>File Details</h3>
<ul>
  <li>
    <b>Type: </b>
    <%= file.type %>
  </li>
  <li>
    <b>Size: </b>
    <%= file.size %>
  </li>
  <li>
    <b>Uploaded: </b>
    <%= 
      file.created.toLocaleString('default', { 
        month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', timeZone: 'UTC', timeZoneName: 'short'
      })
    %>
  </li>
  <li>
    <b>Last modified: </b>
    <%= 
      file.updated
        ? file.updated.toLocaleString('default', { 
            month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', timeZone: 'UTC', timeZoneName: 'short'
          })
        : 'Never'
    %>
  </li>
</ul>