<div class="input">
  <label for="location">
    Select location
  </label>
  <p>
    <% if (locals.formErrors && 'location' in formErrors) { %>
      <small class="error">
        <b>Error: </b>
        <%= formErrors['location'] %>
      </small>
    <% } %>
  </p>
  <select name="location" id="location">
    <% locals.locations.forEach(location => { %>
      <option 
        value=<%= location.id ?? 'home' %>
        <%= locals.prefill.location === location.id && "selected" %>
      >
        <%= location.name ?? '/' %>
      </option>
    <% }) %>
  </select>
</div>

<%#  %>