<progress 
  class="storage-bar w100 mt-1" 
  max="52428800" 
  value="<%= locals.user.storage %>"
>
</progress>

<div class="flex-row w100 jcspb mt-05">
  <p><%= locals.user.niceSize %> used</p>
  <p>50 MiB max</p>
</div>